@import url(fonts/stylesheet.css);

body {
    font-family: 'Perfect DOS VGA 437', monospace;
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 27, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    overflow: hidden;
    flex-direction: column;
}

.bsod{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bsod *{
    text-align: center;
}

img{
    image-rendering: pixelated;
    width: 27px;
}

.bsod-header-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bsod-header-icon p{
    background-color: white;
    color: rgb(27, 27, 207);
    padding: 5px;
}

.bsod-body p a, footer p a{
    color: white;
    font-weight: bold;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}