.projects{
    --cols: 3;
    display: grid;
    grid-template-columns: repeat(var(--cols), minmax(350px, 1fr));
    grid-template-rows: auto;
    gap: 0.75em;
}

@media screen and (max-width: 1400px) {
    .projects{
        --cols: 2;
    }
}

@media screen and (max-width: 1000px) {
    .projects {
        --cols: 1;
    }
}