.mainNav{
    background-color: transparent;
    padding: 20px;
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 3em;
}

.mainNav a{
    color: white;
    text-decoration: none;
    transition: 0.18s ease-in-out;
    text-transform: uppercase;
    font-weight: 400;
}

.mainNav a:hover{
    color: rgb(167, 127, 217);
    transition: 0.18s ease-in-out;
}

/*Make the .mainNav a have a animated left to right underline when hovered. Make sure not to use background and background clip*/
.mainNav a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #9f38cf;
    background: -webkit-linear-gradient(to right, #9f38cf 0%, #9a42d8 65%);
    background: -moz-linear-gradient(to right, #9f38cf 0%, #9a42d8 65%);
    background: linear-gradient(to right, #9f38cf 0%, #9a42d8 65%);
    transition: width 0.25s;
}

.mainNav a:hover::after{
    width: 100%;
}



.main-content{
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    padding-top: 0;
}

footer{
    text-align: center;
    margin-top: auto;
    width: 100%;
    justify-content: center;
    .sc{
        color: rgb(115, 115, 115);
        font-weight: 200;
    }
    *{
        margin: 0;
        padding: 0;
    }
    margin-bottom: 20px;
}


@media screen and (max-width: 725px){
    .main-content{
        margin-left: 10%;
        margin-right: 10%;
    }
}