.repo-card{
  border: 2px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 20px;
  display: grid;
  align-items: stretch;
  height: 80%;
  
  .avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  h2, p, a{
    color: white;
    text-decoration: none;
    
  }
  transition: 0.15s ease-in-out;
}

.repo-link{
  text-decoration: none !important;
}

.repo-card:hover{
  border-color: rgb(167, 127, 217);
  transition: 0.15s ease-in-out;
}

.icon-name{
  display: flex;
  align-items: center;
  gap: 10px;
}