@import url('https://fonts.googleapis.com/css?family=Hack');

code-box{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    display: block;
    width: 320px;
    height: 500px;
    background-color: rgb(37, 38, 46);
}

code-box *{
    font-family: Hack, monospace;
    font-size: 14px;
}

code-box terminal-input{
    width: -webkit-fill-available;
    padding: 10px 20px;
    min-height: 20px;
    display: inline-block;
    margin: 10px;
    background-color: rgb(21, 22, 27);
    white-space:pre-wrap;
    border-radius: 8px;
}

code-box terminal-input::before{
    content: "> ";
    color: rgb(0, 255, 0);
}

code-box terminal-output{
    width: -webkit-fill-available;
    height: 340px;
    padding: 10px 20px;
    min-height: 20px;
    display: inline-block;
    margin: 10px;
    background-color: rgb(21, 22, 27);
    border-radius: 8px;
    overflow-y: scroll;
}

code-box terminal-output{
    width: -webkit-fill-available;
    height: 340px;
    padding: 10px 20px;
    min-height: 20px;
    margin: 10px;
    background-color: rgb(21, 22, 27);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

code-box terminal-output command-response{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

code-box terminal-output command-response terminal-command{
    color: gray;
}

code-box terminal-output command-response terminal-command::before{
    content: "> ";
    color: rgb(0, 85, 255);
}

/* Responses */
.regular-response terminal-response{
    color: white;
}

.warning-response terminal-response{
    color: rgb(250, 250, 106);
}

.error-response terminal-response{
    color: rgb(249, 71, 71);
}

/* Reusable */
.text-center{
    text-align: center;
}