.hello{
    span{
        background: #cf6b1f;
        background: -webkit-linear-gradient(to right, #971fcf 0%, #9a42d8 65%);
        background: -moz-linear-gradient(to right, #971fcf 0%, #9a42d8 65%);
        background: linear-gradient(to right, #971fcf 0%, #9a42d8 65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    font-size: 5em;
    margin: 0%;
}

.btw{
    font-size: smaller;
    color: #3d3c3c;
    font-style: italic;
}

.main-home{
    margin-top: calc(100dvh / 4);
}

@media screen and (max-width: 544px){
    .hello{
        font-size: 3em;
    }
}